/* General styles*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8e1c2;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #040b10;
  text-align: center;
}

/* Navbar */

a {
  text-decoration: none;
  color: #040b10;
}

nav {
  background-color: #71a4a0;
  display: flex;
  justify-content: space-between;
}

nav img {
  align-self: flex-start;
}

.modal-button {
  background-color: #db6930;
  color: #000;
}

.modal-button:hover {
  background-color: #71a4a0;
  color: #fff;
}

.navbar-toggler {
  background-color: #71a4a0;
}

.logo a {
  align-self: center;
}

a.nav-link {
  flex-wrap: nowrap;
}

.nav-link {
  width: 100px;
}

.cope-link {
  flex-wrap: nowrap;
  object-fit: cover;
}


/* Body styles */
.hero-container {
  background: url("../images/hero-image.webp") no-repeat center center/cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.jumbotron {
  margin-top: 15%;
  background-color: rgba(113, 164, 160, 0.5);
}

.jumbotron-text h2, h3 {
  color: #000;
  justify-content: center;
  align-items: center;
}

.hero {
  color: #f8e1c2;
}

.about-container {
  margin-left: 2%;
  margin-right: 2%;
}

.about {
  text-align: center;
}

/* Modal */

.main-modal {
  background-color: #71a4a0;
}

.top-modal {
  background-color: #db6930;
}

.bottom-modal {
  background-color: #db6930;
}

/* Cards */

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card { 
    background-color: #407b93;
    color: #fff;
    height: 650px;
}

.card img {
  height: 250px;
  object-fit: cover;
}

div.card a {
  color: #fff;
  text-decoration: underline;
}

/* Footer */
.footer-container {
  display: flex;
  width: 100%;
  background-color: #71a4a0;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

footer {
  flex: 1;
    clear: both;
  position: relative;
}


/* Media query */
/* small mobile 320px and up*/
@media screen and (min-width: 320px) {
  h1 {
    font-size: 2rem;
  }
}

/* mobile 576px and up */
@media screen and (min-width: 576px) {

  .navbar {
    max-width: 100%;
  }

    .footer-container {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

    footer a {
      margin: 10px;
    }

}

/* Tablet 768px and up */
@media screen and (min-width: 768px) {
   .footer-container {
    max-width: 100%;
   }

   h1 {
    font-size: 30px;
  }

  .navbar-toggler {
    display: block;
  }

  .jumbotron {
    width: 500px;
  height: 250px;
  }
}

/* Laptop 992px and up */
@media screen and (min-width: 992px) {

  h1 {
    font-size: 40px;
  }
  
  .logo-section {
    width: 15%;
  }
  
  .button-section {
    width: 15%;
    justify-content: center;
    /* margin-right: 70px; */
  }
  
  .title-section {
    width: 40%;
    text-align: center;
    justify-content: center;
  }
  
  .links-section {
    justify-content: flex-end;
    width: 30%;
  }

  a.nav-link {
    flex-wrap: nowrap;
  }
  
  .nav-link {
    width: 100px;
  }
  
  .cope-link {
    width: 120px;
  }

  .navbar-toggler {
    display: none;
  }

  .navbar-nav {
    align-items: center; 
    justify-content: center; 
  }

  .footer a {
    margin-left: 100px;
    margin-right: 100px;
  }
} 