/* General styles*/
body {
    background-color: #f8e1c2;
}

h1 {
    color: #f8e1c2;
}

/* Navbar */
nav {
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.navbar {
  padding: 0;
}
div .nav-container .container-fluid {
    flex-wrap: nowrap;
}
.nav-container {
    display: flex;
    background-color: #71a4a0;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}
.logo {
    height: 25%;
    width: 25%;
}

.button-container {
    display: flex;
    width: 15%;
}

.title-container {
    width: 40%;
}

.nav-links {
    width: 30%;
    align-self: flex-end;
}

/* Button CSS */
.button-32 {
  background-color: #f9b262;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
/* Body styles */
