/* General styles*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f8e1c2;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #f8e1c2;
  text-align: center;
}

/* Navbar */

a {
  text-decoration: none;
  color: #f8e1c2;
}

nav {
  background-color: #71a4a0;
  display: flex;
  justify-content: space-between;
}

nav img {
    align-self: flex-start;
}

.logo-section {
  width: 20%;
}

.button-secion {
  width: 25%;
  justify-content: flex-start;
}

.title-section {
  width: 25%;
  text-align: center;
  justify-content: center;
}

.links-section {
  justify-content: flex-end;
  width: 25%;
}

/* Body styles */
.hero-container {
  background: url("../images/hero-image.jpg") no-repeat center center/cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  
}

.jumbotron {
    margin-top: 10%;
  background-color: rgba(113, 164, 160, 0.5);
}

.hero {
    color: #f8e1c2;
}


/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}